include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include grupo_express_it *.css
recursive-include grupo_express_it *.csv
recursive-include grupo_express_it *.html
recursive-include grupo_express_it *.ico
recursive-include grupo_express_it *.js
recursive-include grupo_express_it *.json
recursive-include grupo_express_it *.md
recursive-include grupo_express_it *.png
recursive-include grupo_express_it *.py
recursive-include grupo_express_it *.svg
recursive-include grupo_express_it *.txt
recursive-exclude grupo_express_it *.pyc