#page-Policy {

	// Change the Items Table
	div[data-fieldname="items"] {
		.form-grid {
			//overflow-x: auto;

			.grid-row > .row {
				//flex-wrap: nowrap;

				.col.grid-static-col {

					// SMALL Digits Currency Fields
					&[data-fieldname="qty"],
					&[data-fieldname="freight_cost"],
					&[data-fieldname="insurance_cost"] {
						flex: 0 0 5%;
						max-width: 5%;
					}
					&[data-fieldname="uom"],
					&[data-fieldname="fob_unit_price"],
					&[data-fieldname="unit_price"] {
						flex: 0 0 5.5%;
						max-width: 5.5%;
					}

					// Read-Only BIG Digits Currency Fields(Totals in Local Currency)
					&[data-fieldname="fob_total_price"],
					&[data-fieldname="cif_total_usd"],
					&[data-fieldname="cif_total_nio"],
					&[data-fieldname="customs_taxes"],
					&[data-fieldname="nationalization_total"] {
						flex: 0 0 7.33%;
						max-width: 7.33%;
					}

					&[data-fieldname="total_price"] {
						flex: 0 0 8.30%;
						max-width: 8.30%;
					}

				}
			}
		}
	}

	// Change All Tables
	.form-grid {
		.grid-row > .row {

			.sortable-handle {
				// Because its a col, it will automatically resize to fit the content
			}

			.col.grid-static-col[data-fieldtype="Select"], select[data-fieldtype="Select"],
			.col.grid-static-col[data-fieldtype="Date"], input[data-fieldtype="Date"] {
				text-align: center !important; // Center this two types of elements
			}
		}

		> .grid-footer-row {
			border-top: 3px solid var(--table-border-color);

			.grid-row-check,
			.row-index > span {
				display: none; // Hide this, is unnecessary
			}

			> .grid-row > .row > .col.grid-static-col {
				&[data-fieldname="exchange_rate"],
				&[data-fieldname="fob_unit_price"],
				&[data-fieldname="unit_price"] {
					> .static-area {
						display: none; // Hide all exchange rate fields
					}
				}
			}

		}
	}
}

#page-Stock\ Sales\ Invoice {
	// Change All Tables
	.form-grid {
		.grid-row > .row {
			.col.grid-static-col[data-fieldtype="Select"], select[data-fieldtype="Select"] {
				text-align: center !important; // Center this two types of elements
			}
		}
	}
}

.modal {

	.modal-dialog.modal-xl {
		max-width: 1280px; // Extra 140px
	}

	.modal-body {

		div[data-fieldname="results_area"] > .results {
			height: 450px !important; // Content Table
		}

		// Adjusting width of columns in the policy_items_dialog() modal
		.list-item__content:nth-child(2), .list-item__content:nth-child(8) {
			flex: 0.8; // policy and stock_value Fields
		}

		.list-item__content:nth-child(3), .list-item__content:nth-child(7) {
			flex: 0.6; // date and unit_price Fields
		}

		.list-item__content:nth-child(4) {
			flex: 3; // item Field
		}

		.list-item__content:nth-child(5), .list-item__content:nth-child(6) {
			flex: 0.5; // actual_qty and uom Field
		}

	}
}
